# Importing Libraries

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

# Importing Dataset

In [19]:
dataset=pd.read_csv(r"Covid_Dataset.csv")
dataset.head()

,Age,Sex,BP max,BP min,Pr,RR,T,SPo2,DM,HTN,...,HCO3,BE,BUN,Cr,AST,ALT,ALKP,LDH,Outcome,Death Interval
0,38,0,105,70,110,19.0,37.0,88.0,0,0,...,22.7,-1.8,11,1.13,36.4,20.3,152.0,655.0,1,NaN
1,66,1,160,95,65,19.0,37.0,95.0,0,1,...,30.9,6.3,9,1.00,33.0,19.0,183.0,652.0,1,NaN
2,71,0,130,80,70,17.0,37.0,91.0,1,0,...,22.5,-2.2,13,1.19,48.9,46.2,155.0,389.0,1,NaN
3,94,1,100,60,100,21.0,37.5,89.0,0,0,...,24.3,1.6,23,1.00,29.0,17.0,177.0,627.0,0,7.0
4,55,1,90,60,90,20.0,35.5,96.0,1,1,...,25.1,1.5,17,0.89,22.0,18.0,804.0,334.0,1,NaN

# Data Description and visualisation

In [21]:
dataset.describe

<bound method NDFrame.describe of      Age  Sex  BP max   BP min   Pr    RR     T   SPo2   DM  HTN  ...  HCO3  \
0     38    0      105       70  110  19.0  37.0   88.0   0    0  ...  22.7
1     66    1      160       95   65  19.0  37.0   95.0   0    1  ...  30.9
2     71    0      130       80   70  17.0  37.0   91.0   1    0  ...  22.5
3     94    1      100       60  100  21.0  37.5   89.0   0    0  ...  24.3
4     55    1       90       60   90  20.0  35.5   96.0   1    1  ...  25.1
..   ...  ...      ...      ...  ...   ...   ...    ...  ..  ...  ...   ...
487   74    1      140       80   88  15.0  37.9   80.0   1    1  ...  17.7
488   76    0      135       65   65  20.0  36.6   65.0   0    0  ...  19.7
489   49    0      130       80   99  18.0  37.8   95.0   1    0  ...  26.1
490   62    0      121       67   97  24.0  37.6   97.0   1    1  ...  15.5
491   34    1       90       60   75  19.0  36.5   46.0   0    0  ...  21.3

       BE  BUN    Cr   AST   ALT   ALKP     LDH  Outcome  Death Interval
0    -1.8   11  1.13  36.4  20.3  152.0   655.0        1             NaN
1     6.3    9  1.00  33.0  19.0  183.0   652.0        1             NaN
2    -2.2   13  1.19  48.9  46.2  155.0   389.0        1             NaN
3     1.6   23  1.00  29.0  17.0  177.0   627.0        0             7.0
4     1.5   17  0.89  22.0  18.0  804.0   334.0        1             NaN
..    ...  ...   ...   ...   ...    ...     ...      ...             ...
487 -10.2   14  1.50  25.2  36.0  197.0   206.0        0             9.0
488  -4.4   29  1.03  57.0  33.0  504.0   589.0        0             4.0
489   0.4   28  1.75  22.0  22.0  167.8   466.0        1             NaN
490 -11.4   81  3.25  30.0  20.0  122.0   724.0        0             0.0
491  -4.5   23  1.20  45.0  17.0  396.0  1535.0        0             2.0

[492 rows x 39 columns]>

In [25]:
print(dataset['Outcome'].value_counts())
print(dataset['Sex'].value_counts())

1    306
0    186
Name: Outcome, dtype: int64
0    297
1    195
Name: Sex, dtype: int64

# Data Preprocessing

In [26]:
dataset.isnull().sum()

Age                 0
Sex                 0
BP max              0
BP min              0
Pr                  0
RR                  1
T                   0
SPo2                3
DM                  0
HTN                 0
CVD                 0
WBC                 0
Abs Neut            0
Abs Lymph           0
RBC                 0
HGB                 1
HCT                 0
PLT                 0
MCV                 0
MCH                 0
MCHC                0
RDW                19
ESR                20
PT                  0
PTT                 1
INR                 0
PH                  0
PCO2                0
PO2                 0
HCO3                0
BE                  0
BUN                 0
Cr                  0
AST                 1
ALT                 0
ALKP                1
LDH                15
Outcome             0
Death Interval    307
dtype: int64

In [47]:
mode=dataset.iloc[:,7].mode()
print(mode)

0    88.0
dtype: float64

In [55]:
dataset=dataset.fillna({'LDH':dataset['LDH'].mean()})
dataset=dataset.fillna({'AST':dataset['AST'].mean()})
dataset=dataset.fillna({'ALKP':dataset['ALKP'].mean()})
dataset=dataset.fillna({'PTT':dataset['PTT'].mean()})
dataset=dataset.fillna({'ESR':dataset['ESR'].mean()})
dataset=dataset.fillna({'RDW':dataset['RDW'].mean()})
dataset=dataset.fillna({'HGB':dataset['HGB'].mean()})

In [53]:
dataset.isnull().sum()

Age                 0
Sex                 0
BP max              0
BP min              0
Pr                  0
RR                  1
T                   0
SPo2                3
DM                  0
HTN                 0
CVD                 0
WBC                 0
Abs Neut            0
Abs Lymph           0
RBC                 0
HGB                 0
HCT                 0
PLT                 0
MCV                 0
MCH                 0
MCHC                0
RDW                 0
ESR                 0
PT                  0
PTT                 0
INR                 0
PH                  0
PCO2                0
PO2                 0
HCO3                0
BE                  0
BUN                 0
Cr                  0
AST                 0
ALT                 0
ALKP                0
LDH                 0
Outcome             0
Death Interval    307
dtype: int64